<h1>Wallet Name: <%= @wallet.name %><br></h1>

<h3>Wallet Name: <%= @wallet.name %><br><h3/>
<h3>Coin Name: <%= @coin.name %><br><h3/>
<h3>Coin Price: <%= @coin.price %><br><h3/>
<h3>Holding: <%= @transaction.holding %><br><h3/>
<h3>Cost: <%= @transaction.net_cost %><br><h3/>
<h3>Market Value : <%= @transaction.market_value %><h3/>
